* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}